header {
    background-color: #DC143C;
    color: white;
}

ul {
  list-style-type: none;
}


.nav-menu {
    background-color: rgb(25,25,25);
}

.text-white {
    color: white;
}

.nav-item {
    border-left: 2px solid white;
}

.banner {
    background-color: black;
}